<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.eclipse.ceylon.ide.eclipse.android.plugin.androidCeylonBuildHook"
         name="Ceylon Build Hook for Android"
         point="org.eclipse.ceylon.ide.eclipse.ui.ceylonBuildHook">
      <hookProvider
            class="org.eclipse.ceylon.ide.eclipse.android.plugin.AndroidBuildHookProvider">
      </hookProvider>
   </extension>
</plugin>
