<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.imp.runtime.languageDescription">
      <language
            url="http://in.relation.to/Tutorials/IntroductionToCeylon"
            icon="icons/template_obj.gif"
            extensions="ceylon"
            description="Say more, more clearly"
            natureID="com.redhat.ceylon.eclipse.ui.imp.nature"
            language="ceylon">
      </language>
   </extension>
   <extension
         id="ceylon-ide.parser"
         name="Ceylon Parser"
         point="org.eclipse.imp.runtime.parser">
      <parser
            class="com.redhat.ceylon.eclipse.imp.parser.CeylonParseController"
            language="ceylon">
      </parser>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.tokenColorer">
      <tokenColorer
            class="com.redhat.ceylon.eclipse.imp.parser.CeylonTokenColorer"
            language="ceylon">
      </tokenColorer>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.modelTreeBuilder">
      <treeBuilder
            class="com.redhat.ceylon.eclipse.imp.outline.CeylonTreeModelBuilder"
            language="ceylon">
      </treeBuilder>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.labelProvider">
      <labelProvider
            class="com.redhat.ceylon.eclipse.imp.outline.CeylonLabelProvider"
            language="ceylon">
      </labelProvider>
   </extension>
   <extension
         id="ceylon.imp.builder"
         name="Ceylon Builder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="com.redhat.ceylon.eclipse.imp.builder.CeylonBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="imp.nature"
         name="Ceylon Nature"
         point="org.eclipse.core.resources.natures">
      <builder
            id="com.redhat.ceylon.eclipse.ui.ceylon.imp.builder">
      </builder>
      <runtime>
         <run
               class="com.redhat.ceylon.eclipse.imp.builder.CeylonNature">
         </run>
      </runtime>
   </extension>
   <extension
         id="ceylon.imp.builder.problem"
         name="Ceylon Error"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.jdt.core.IJavaProject"
            adaptable="true"
            nameFilter="*"
            id="ceylon.imp.projectContextMenu">
         <action
               label="Enable Ceylon Builder"
               tooltip="Enable the ceylon builder for this project"
               class="com.redhat.ceylon.eclipse.imp.builder.EnableCeylonNature"
               id="ceylon.imp.actions.enableNatureAction">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.referenceResolvers">
      <referenceResolver
            class="com.redhat.ceylon.eclipse.imp.core.CeylonReferenceResolver"
            language="ceylon">
      </referenceResolver>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.documentationProvider">
      <docProvider
            class="com.redhat.ceylon.eclipse.imp.hover.CeylonDocumentationProvider"
            language="ceylon">
      </docProvider>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.contentProposer">
      <proposer
            class="com.redhat.ceylon.eclipse.imp.proposals.CeylonContentProposer"
            language="ceylon">
      </proposer>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.markOccurrences">
      <occurrenceIdentifier
            class="com.redhat.ceylon.eclipse.imp.editor.CeylonOccurrenceMarker"
            language="ceylon">
      </occurrenceIdentifier>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.foldingUpdater">
      <foldingUpdater
            class="com.redhat.ceylon.eclipse.imp.editor.CeylonFoldingUpdater"
            language="ceylon">
      </foldingUpdater>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.refactoringContributions">
      <refactoringContributor
            class="com.redhat.ceylon.eclipse.imp.refactoring.RefactoringContributor"
            language="ceylon">
      </refactoringContributor>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.editorActionContributions">
      <editorActionContributor
            class="com.redhat.ceylon.eclipse.imp.editor.CeylonEditorActionContributions"
            language="ceylon">
      </editorActionContributor>
   </extension>
   <extension
         id="com.redhat.ceylon.ui.searchResults"
         point="org.eclipse.search.searchResultViewPages">
      <viewPage
            class="com.redhat.ceylon.eclipse.imp.search.CeylonSearchResultPage"
            searchResultClass="com.redhat.ceylon.eclipse.imp.search.CeylonSearchResult"
            id="org.eclipse.search.searchResultViewPage">
      </viewPage>
   </extension>
   <extension
         point="org.eclipse.search.searchPages">
      <page
            showScopeSection="true"
            canSearchEnclosingProjects="true"
            label="Ceylon Search"
            enabled="true"
            extensions="ceylon:90"
            class="com.redhat.ceylon.eclipse.imp.search.CeylonSearchDialogPage"
            sizeHint="460,160"
            id="org.redhat.ceylon.ui.searchPage"
            icon="icons/find_obj.gif"/>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.autoEditStrategy">
      <autoEditStrategy
            class="com.redhat.ceylon.eclipse.imp.editor.CeylonAutoEditStrategy"
            language="ceylon">
      </autoEditStrategy>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.editorService">
         <editorService
               language="ceylon"
               class="com.redhat.ceylon.eclipse.imp.editor.CeylonAnnotationCreator">
         </editorService>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
         name="com.redhat.ceylon.eclipse.ui.refinement.formal"
         markerSeverity="0">
      </type>
      <type
         name="com.redhat.ceylon.eclipse.ui.refinement.default"
         markerSeverity="0">
      </type>
  </extension>
  <extension point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="com.redhat.ceylon.eclipse.ui.refinement.formal"
            presentationLayer="0"
            contributesToHeader="true"
            includeOnPreferencePage="true"
            label="Ceylon Refinement Indicators"
            textPreferenceKey="com.redhat.ceylon.eclipse.ui.refinement.text"
            textPreferenceValue="false"
            colorPreferenceKey="com.redhat.ceylon.eclipse.ui.refinement.color"
            colorPreferenceValue="000,255,000"
            verticalRulerPreferenceKey="com.redhat.ceylon.eclipse.ui.refinement.ruler"
            verticalRulerPreferenceValue="true"
            overviewRulerPreferenceKey="com.redhat.ceylon.eclipse.ui.refinement.overview"
            overviewRulerPreferenceValue="false"
            highlightPreferenceKey="com.redhat.ceylon.eclipse.ui.refinement.highlight"
            highlightPreferenceValue="false"
            textStylePreferenceKey="com.redhat.ceylon.eclipse.ui.refinement.textStyle"
            textStylePreferenceValue="BOX"
            icon="icons/implm_co.gif"
            />
      <specification
            annotationType="com.redhat.ceylon.eclipse.ui.refinement.default"
            presentationLayer="0"
            contributesToHeader="true"
            includeOnPreferencePage="true"
            label="Ceylon Refinement Indicators"
            textPreferenceKey="com.redhat.ceylon.eclipse.ui.refinement.text"
            textPreferenceValue="false"
            colorPreferenceKey="com.redhat.ceylon.eclipse.ui.refinement.color"
            colorPreferenceValue="000,255,000"
            verticalRulerPreferenceKey="com.redhat.ceylon.eclipse.ui.refinement.ruler"
            verticalRulerPreferenceValue="true"
            overviewRulerPreferenceKey="com.redhat.ceylon.eclipse.ui.refinement.overview"
            overviewRulerPreferenceValue="false"
            highlightPreferenceKey="com.redhat.ceylon.eclipse.ui.refinement.highlight"
            highlightPreferenceValue="false"
            textStylePreferenceKey="com.redhat.ceylon.eclipse.ui.refinement.textStyle"
            textStylePreferenceValue="BOX"
            icon="icons/over_co.gif" 
            />
  </extension>
  <extension point="org.eclipse.ui.editorActions">
        <editorContribution
            targetID="org.eclipse.imp.runtime.impEditor"
            id="com.redhat.ceylon.eclipse.imp.editorActionContributions.ruler">
                <action
                    label="Select Ruler"
                    class="com.redhat.ceylon.eclipse.imp.editor.SelectRulerAction"
                    actionID="RulerClick"
                    id="com.redhat.ceylon.eclipse.imp.editorActionContributions.SelectRulerAction">
         </action>
        </editorContribution>
  </extension>
<extension
    point="org.eclipse.ui.editorActions">
      <editorContribution 
         id="com.redhat.ceylon.eclipse.imp.editorActionContributions" 
         targetID="org.eclipse.imp.runtime.impEditor">        
	   <action id="com.redhat.ceylon.eclipse.imp.editorActionContributions.findReferences" 
              label="Find References"
              class="com.redhat.ceylon.eclipse.imp.search.FindReferencesAction2"
              menubarPath="org.eclipse.search.menu/occurencesActionsGroup"
              accelerator="CTRL+ALT+G"
              /> 
	   <action id="com.redhat.ceylon.eclipse.imp.editorActionContributions.findRefinements" 
              label="Find Refinements"
              class="com.redhat.ceylon.eclipse.imp.search.FindRefinementsAction2"
              menubarPath="org.eclipse.search.menu/occurencesActionsGroup"
              /> 
	   <action id="com.redhat.ceylon.eclipse.imp.editorActionContributions.findSubtypes" 
              label="Find Subtypes"
              class="com.redhat.ceylon.eclipse.imp.search.FindSubtypesAction2"
              menubarPath="org.eclipse.search.menu/occurencesActionsGroup"
              /> 
	   <action id="com.redhat.ceylon.eclipse.imp.refactoring.rename" 
              label="Rename..."
              class="com.redhat.ceylon.eclipse.imp.refactoring.RenameAction"
              menubarPath="org.eclipse.imp.source.menu/convertGroup"
              accelerator="CTRL+ALT+R"
              /> 
	   <action id="com.redhat.ceylon.eclipse.imp.refactoring.inline" 
              label="Inline..."
              class="com.redhat.ceylon.eclipse.imp.refactoring.InlineAction"
              menubarPath="org.eclipse.imp.source.menu/convertGroup"
              accelerator="CTRL+ALT+I"
              /> 
	   <action id="com.redhat.ceylon.eclipse.imp.refactoring.extractFunction" 
              label="Extract Function..."
              class="com.redhat.ceylon.eclipse.imp.refactoring.ExtractFunctionAction"
              menubarPath="org.eclipse.imp.source.menu/convertGroup"
              accelerator="CTRL+ALT+F"
              /> 
	   <action id="com.redhat.ceylon.eclipse.imp.refactoring.extractValue" 
              label="Extract Value..."
              class="com.redhat.ceylon.eclipse.imp.refactoring.ExtractValueAction"
              menubarPath="org.eclipse.imp.source.menu/convertGroup"
              accelerator="CTRL+ALT+V"
              /> 
	   <action id="com.redhat.ceylon.eclipse.imp.refactoring.convertToNamedArguments" 
              label="Convert To Named Arguments..."
              class="com.redhat.ceylon.eclipse.imp.refactoring.ConvertToNamedArgumentsAction"
              menubarPath="org.eclipse.imp.source.menu/convertGroup"
              />
    </editorContribution>
</extension>
<extension
    point="org.eclipse.ui.actionSets"
    id="com.redhat.ceylon.eclipse.imp.actionSet">
    <actionSet 
         id="com.redhat.ceylon.eclipse.imp.actionSet" 
         label="Ceylon Actions">        
	   <action id="com.redhat.ceylon.eclipse.imp.editor.openDeclaration" 
              label="Open Ceylon Declaration..."
              icon="icons/opentype.gif" 
              tooltip="Open Toplevel Ceylon Declaration" 
              class="com.redhat.ceylon.eclipse.imp.open.OpenDeclarationAction2"
              menubarPath="navigate/open.ext"
              accelerator="COMMAND+SHIFT+C"
              toolbarPath="ceylon"
              /> 
	   <action id="com.redhat.ceylon.eclipse.imp.search.ceylonSearch" 
              label="Ceylon..."
              class="com.redhat.ceylon.eclipse.imp.search.OpenCeylonSearchPageAction"
              menubarPath="org.eclipse.search.menu/dialogGroup"
              icon="icons/find_obj.gif"
              />
    </actionSet>
</extension> 
<!--
 <extension point="org.eclipse.ui.popupMenus"> 
  <viewerContribution 
      id="com.redhat.ceylon.eclipse.imp.editorActionContributions.popupMenu"
      targetID="#TextEditorContext"> 
	   <action id="com.redhat.ceylon.eclipse.imp.editorActionContributions.findReferences" 
              label="Find References"
              class="com.redhat.ceylon.eclipse.imp.editorActionContributions.FindReferencesAction2"
              menubarPath="additions"
              /> 
   </viewerContribution> 
  </extension>
-->
  <extension
        point="org.eclipse.imp.runtime.quickFixAssistant"
        id="com.redhat.ceylon.eclipse.imp.quickfix">
      <quickFixAssistant
          class="com.redhat.ceylon.eclipse.imp.quickfix.CeylonQuickFixAssistant"
          language="ceylon">
          <supportedMarkerType
              markerType="org.eclipse.imp.editor.parseAnnotation.error"/>
          <supportedMarkerType 
              markerType="com.redhat.ceylon.eclipse.ui.ceylon.imp.builder.problem"/>
      </quickFixAssistant>
  </extension>
</plugin>
